:root{
    color-scheme: light dark;
    --bg-color: light-dark(#f1f1f159, #252525);
    --box-shadow: light-dark(#00000056, #616161);
    --input-text: light-dark(#6161614d, #5251519d);
    --text-color: light-dark(#000000, #ffffff);
    --item-button-color: light-dark(#08fd00a1, #08fd00a1);
    --task-item-delete-button-color: light-dark(#fd0000a1, #fd0000a1);
    --task-item-check-button-color: light-dark(#0400ffa1, #0400ffa1);
    
}

body
::before
::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
}

#container {
    max-width: 600px;
    max-height: 690px;
    margin: auto;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px var(--box-shadow);
}

#input-text {
    background-color: var(--input-text);
    border-radius: 5px;
    width: 500px;
    height: 25px;
    color: var(--text-color);
    padding: 3px;
    border-radius: 25px 0 0 25px;
    color: var(--text-color);
}

#item-button {
    background-color: var(--item-button-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--box-shadow);
    width: 70px;
    height: 34px;
    padding: 3px;
    border-radius: 0 25px 25px 0;
    transition: all 0.3s ease;
}

#item-button:hover {
    background-color: var(--item-button-color);
    transform: scale(1.1)
}

#comment {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: red;
}

.task-item-text-decoration{
    text-decoration: line-through;
}

#task-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-item-check-button {
    background-color: var(--task-item-check-button-color);
}

.task-item-delete-button{
    background-color: var(--task-item-delete-button-color);
}

#task-item-check-button-decoration {
    background-color: gray;
}

.task-item-check-button, .task-item-delete-button, #task-item-check-button-decoration {
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--box-shadow); 
    border-radius: 25px 25px 25px 25px;
    width: 80px;
    height: 90px;
    padding: 10px;
    margin: 5px;
    transition: all 0.3s ease;
}

#task-item-check-button-decoration:hover {
    background-color: gray;
    transform: scale(1.1)
}

.task-item-check-button:hover {
    background-color: var(--task-item-check-button-color);
    transform: scale(1.1)
}

.task-item-delete-button:hover {
    background-color: var(--task-item-delete-button-color);
    transform: scale(1.1)
}

#task-container  .task-item-text-decoration, .task-item-text  {
    text-align: justify;
    width: 300%; 
    margin: 0 20px; 
  }
  
#row{
    max-height: 400px;
    overflow-y: scroll;  
} 

@media (min-width: 320px) {
    #input-text {
      width: 60%;
    }
    #task-container {
        max-height: 420px;
    }
    .task-item-check-button, .task-item-delete-button, #task-item-check-button-decoration {
        height: 300px;
        width: 15%;
        padding: 0; 
        word-wrap: break-word;
    }
  }
  
  @media (min-width: 1024px) {
    #input-text {
        width: 85%;
    }
    #task-container {
        max-height: 300px;
    }
    #container {
        max-height: 600px;
    } 
    .task-item-check-button, .task-item-delete-button, #task-item-check-button-decoration {
        height: 90px;
        width: 15%;
        word-wrap: break-word;
    }
}